*{
    background-image: url('https://demilee06.github.io/E-com-images/Desktop%20-%201.png');
}

h1{
    font-family: "Luckiest Guy";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; line-height: 26.4px;
    text-align: center;

}
#div2{
    height:500px;
    width:1000px;
    align-self: flex-end;
}
.carousel slide{
    height:500px;
    width:1000px
}
.carousel-inner{
    height:500px;
    width:1000px
}
img{
    height:500px;
    width:2000px
}

/*About page*/

.headingOne{
    font-family: "Luckiest Guy";
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; line-height: 26.4px;
    text-align: center;
    margin-top: 2% ;
}